.experience {
    padding-top: 180px;
    animation: fadeIn 1.6s ease-in-out;
}

.experience h1, h2, h3 {
    font-family: "Playfair Display", Georgia, serif;;
}

.experience h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 4em;
    margin: 0;
    padding-bottom: 20px;
}

.experience h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5em;
    color: #777;
    margin-top: 10px;
    margin-bottom: 20px;
}

.timeline {
    list-style: none;
}

ul, ol {
    display: block;
    margin-bottom: 1.5em;
}

@media (min-width: 880px) {
    .timeline > li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
}

@media (min-width: 880px) {
    .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #e5e5d1 solid;
        padding-left: 30px;
    }
}

@media (min-width: 880px) {
    .timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background: #7390B3;
        position: absolute;
        left: 166px;
        top: 24px;
        border-radius: 100%;
    }
}

@media (min-width: 880px) {
    .timeline-date {
        width: 170px;
        float: left;
        margin-top: 15px;
        color: #A6A6A6;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}