.experience {
    padding: 180px 30px 180px 30px;
}

.experience h1, h2, h3 {
    font-family: "Playfair Display", Georgia, serif;
}

.experience h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding-bottom: 20px;
}

.experience h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5em;
    color: #3C3C3C;
    margin-top: 10px;
    margin-bottom: 40px;
}
@media (max-width: 600px) {
    .experience h2 {
        font-size: 1em;
    }
}


.timeline {
    list-style: none;
}

ul {
    margin-bottom: 1.5em;
}

.timeline li {
    overflow: hidden;
    margin: 0;
    position: relative;
}

.timeline-content {
    width: 40%;
    float: left;
    /* border-left: 3px #e5e5d1 solid; */
    border-left: 3px pink solid;
    padding-left: 30px;
}

.timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    /* background: #7390B3; */
    background: rgb(239, 93, 239);
    position: absolute;
    left: 166px;
    top: 24px;
    border-radius: 100%;
}
@media (max-width: 600px) {
    .timeline-content:before {
        left: 66px;
    }
}

.timeline-date {
    width: 170px;
    float: left;
    margin-top: 15px;
    /* color: #A6A6A6; */
    color: #3C3C3C;
}
@media (max-width: 600px) {
    .timeline-date {
        width: 70px;
    }
}