.mode-btn {
    bottom: 50px;
    left: 50%;
    right: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    .mode-btn {
        bottom: 10px;
    }
}

.mode-btn button {
    background: none;
    padding: 0;
}

.icon {
    color: #333;
    width: 45px;
    height: auto;
    opacity: 0.82;
    animation: icon-swap 0.5s forwards;
}
@media (max-width: 600px) {
    .icon {
        width: 35px;
    }
}

button {
    border: transparent;
    cursor: pointer;
}
button:hover {
    opacity: 0.48;
    transition: 0.3s;
}

@keyframes icon-swap {
    0% {
      opacity: 1;
      transform: rotate(0deg);
    }
    25% {
      opacity: 0.5;
      transform: rotate(45deg);
    }
    50% {
      opacity: 0;
      transform: rotate(180deg);
    }
    75% {
        opacity: 0.5;
        transform: rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
  }