.profile {
    margin: 50px;
    padding: 50px;
}
@media (max-width: 600px) {
    .profile {
        margin: 80px 0px 50px 0;
    }
}
@media (min-width: 880px) {
    .profile {
        padding: 150px 100px 150px 100px;
        display: flex;
    }
}

.profile-image {
    width: auto;
    border-radius: 8px;
    box-shadow: 5px 5px 20px;
    height: 360px;
    margin-right: 80px;
}
@media (max-width: 1000px) {
    .profile-image {
        height: 220px;
    }
}
@media (max-width: 880px) {
    .profile-image {
        height: 150px;
        margin: 0;
        margin-bottom: 15px;
    }
    .profile img {
        left: 50%;
        right: 50%;
    }
}
@media (max-width: 600px) {
    .profile-image {
        height: 120px;
        margin: 0;
        margin-bottom: 15px;
    }
    .profile img {
        left: 50%;
        right: 50%;
    }
}

.contact-icon {
    padding-top: 15px;
}

.contact-icon a {
    opacity: 0.82;
    padding: 10px;
}
.contact-icon a:hover {
    transition: 0.18s;
    opacity: 0.41;
}

.profile-info {
    max-width: 590px;
}

.profile-info h1 {
    font-family: "Playfair Display", Georgia, serif;
    margin: 0;
    padding-bottom: 20px;
}

.profile-info-subtitle {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.profile-info-subtitle h2 {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 1.5em;
    color: #3C3C3C;
    margin: 0;
    padding: 0 10px;
}
@media (max-width: 1200px) {
    .profile-info h1 {
        font-size: 2.5em;
    }
    .profile-info h2 {
        font-size: 1em;
    }
}

.profile-info p {
    line-height: 1.6;
    margin-bottom: 20px;
}
