.mode-btn {
    position: fixed;
    inset: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.mode-btn button {
    background: none;
    padding: 0;
}

.mode-btn img {
    width: 40px;
    height: auto;
    opacity: 0.82;
}

.mode-btn img:hover {
    opacity: 0.48;
}