.specialty {
  padding: 180px 30px 180px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
    align-content: center;
}
@media (max-width: 600px) {
  .specialty {
    padding-bottom: 80px;
  }
}

.specialty h1 {
  font-family: "Playfair Display", Georgia, serif;
  margin: 0 auto;
  padding-bottom: 70px;
}

.specialty h3 {
  font-family: "Karla", 'Arial', sans-serif;
  font-size: 1.4rem;
}

.specialty p {
  line-height: 2;
}

.specialty-grid {
  display: grid;
  gap: 5rem;
  border-radius: 1.5rem;
  padding: 2rem;
  border: 1px solid gray;
  box-shadow: 5px 5px 20px;
}
@media (min-width: 880px) {
  .specialty-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 880px) {
  .specialty-grid {
    gap: 0rem;
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .specialty-grid {
    max-width: 300px;
  }
}