@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-font: #333;
    --light-font: #F5F5F5;
}

.card {
    @apply absolute transform;
    backface-visibility: hidden;
}
  
.transform-style-3d {
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.transform-rotateY-180 {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}