@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply absolute transform;
    backface-visibility: hidden;
}
  
.transform-style-3d {
    transform-style: preserve-3d;
}
.transform-style-3d:active {
    transform:rotateY(180deg);
}
.transform-rotateY-180 {
    transform:rotateY(180deg);
}